/*
CTC Separate Stylesheet
Updated: 2023-02-12 12:11:06
*/

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/* Body */

body * {
    font-family: 'Syne', sans-serif;
    
}

/* Header */

#site-header {
    background-color: white;
}

.entry-title {
    display: none;
}


/* Footer  */

#site-footer {
    background-color: white;
}