/*
CTC Separate Stylesheet
Updated: 2023-02-12 12:11:06
*/

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/* Body */

body * {
    font-family: 'Syne', sans-serif;
    
}

h2.color {
    color: #3b8e46;
    font-family: 'Syne';
    font-weight: 800;
    
}

h3.color {
    color: #3b8e46;
    font-family: 'Syne';
    font-weight: 800;
    font-size: 30px;
}

h3.title-comments {
    color: #3b8e46;
    font-family: 'Syne';
    font-weight: 800;
    font-size: 30px;
}

h4.font-les-gouts {
    color: #d2776a;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
}

p.font-first-text {
    font-family: 'Syne';
    font-weight: 400;
    font-size: 20px;
}


/* Header */

#site-header {
    background-color: white;
}

.entry-title {
    display: none;
}

.background-red {
    color: white; /* texte blanc */
    background-color: red; /* fond rouge */
    border: 2px solid black; /* bordure noire de 2 pixels */
    margin: 0px; /* marge de 10 pixels autour de l'élément */
    padding: 20px; /* remplissage de 5 pixels à l'intérieur de l'élément */
    float: right; /* positionnement à droite */
}


/* Footer  */

#site-footer {
    padding: 20px;
    text-align: center;
    background-color: white;
 }

 #site-footer.footer-custom {
    color: black;
 }

 #site-footer a:hover {
    text-decoration: none;
 }

 

 